
@{
    ViewBag.Title = "Category_Deleted";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<div class="page-header">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Mục đã xóa</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Loại sản phẩm</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<!-- Phần table và Phần tìm kiếm, phân trang-->
<div class="card-box mb-30">
    @* Phần tìm kiếm và phân trang *@
    <div class="input-group">
        <div style="height: 38px; margin-top: 20px" class="form-group col-auto d-inline-flex">
            <div style="display:flex; align-items:center; margin-right:5px;">
                <p style="margin:0;">Số lượng</p>
            </div>
            <div>
                <select style="height: 38px" class="form-control" id="customSelect">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </select>
            </div>
        </div>
        <div class="form-outline">
            <input style="margin-left: 20px; margin-top: 20px; height: 38px" placeholder="Tìm loại đã xóa..." type="search" id="txtSearch" class="form-control" />
        </div>
        <button style="margin-left: 17px; margin-top: 20px; height: 38px; " type="button" id="btnSearch" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>

    </div>
    @* Phần tìm kiếm - End *@
    @* Phần table *@
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead style="text-align:center" class="thead-light">
                <tr>
                    <th>Mã loại</th>
                    <th>Loại sản phẩm</th>
                    <th>Ngày tạo</th>
                    <th>Trạng thái</th>
                    <th width="300px">Thao tác</th>
                </tr>
            </thead>
            <tbody id="tblList">
                @*Dùng vòng lặp trong cặp thẻ <tr></tr> ở <script>*@
            </tbody>
        </table>
        <div class="col-sm-12 col-md-6" style="display: flex; justify-content: end; margin-left: 830px;">
            <div class="row d-inline-flex">
                <div id="recordsDes" class="col-auto pt-2">
                    @* Xử lí ở phần JS - LoadCategoryList *@
                </div>
                <div class="col-auto">
                    <nav aria-label="Page navigation example ">
                        <ul class="pagination" id="pagination">
                            @*Xử lí ở phần JS LoadCategoryList*@
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    @* Phần table - End *@
</div>
<!--Phần table và Phần tìm kiếm, phân trang - End-->

<!--Modal Details-->
<div class="modal" tabindex="-1" role="dialog" id="modalDetailsCategory">
    <div class="modal-dialog" role="document">
        <div style=" border-color: dodgerblue" class="modal-content">
            <div class="panel panel-primary">
                <div style="background-color: #337ab7; padding: 10px; margin-bottom: 10px" class="panel-heading">
                    <h5 style="text-align:center; color:white" class="panel-title" id="modalTitleDetails"></h5>
                </div>
                <div style="margin: 0px 10px" class="panel-body">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <h5>Mã loại:</h5>
                            <div class="" id="CategoryId"> </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <h5>Loại sản phẩm:</h5>
                            <div class="" id="Name"> </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <h5>Ngày tạo:</h5>
                            <div class="" id="CreateDate"> </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <h5>Trạng thái: </h5>
                            <div class="" id="Status"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Details End-->
@section scripts{
    <script>
        var find = '';
        var pageSize = 5;
        var page = 1;
        var lastPage = 1;
        $(document).ready(function () {
            ListCategoryDeleted(find, pageSize, page);
        });

        //show toast
        var showToast = (type = "success", message = "Test") => {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            toastr[type](message);
        }

        //Sự kiện click của button tìm kiếm
        $('#btnSearch').click(function () {
            find = $('#txtSearch').val();
            ListCategoryDeleted(find, pageSize, page);
        });

        //Sự kiện khôi phục loại sản phẩm
        $(document).on('click', "button[name='restore']", function () {
            let idCategoryRestore = $(this).closest('tr').attr('id');
            if (confirm("Bạn có muốn khôi phục loại sản phẩm này không?")) {
                $.ajax({
                    url: '/Admin/Category_Admin/RestoreDeleted',
                    type: 'post',
                    data: {
                        id: idCategoryRestore
                    },
                    success: function (data) {
                        showToast('success', data.msg);
                            setTimeout(function () {
                                window.location;
                            }, 2000);
                        ListCategoryDeleted(find, pageSize, page);
                    }
                });
            }
        });

        //Sự kiện xóa loại sản phẩm
        $(document).on('click', "button[name='delete']", function () {
            let idCategoryDeleted = $(this).closest('tr').attr('id');
            if (confirm("Bạn có chắc chắn xóa loại sản phẩm này không?")) {
                $.ajax({
                    url: '/Admin/Category_Admin/DeleteData',
                    type: 'post',
                    data: {
                        id: idCategoryDeleted
                    },
                    success: function (data) {
                        showToast('error', data.msg);
                        setTimeout(function () {
                            window.location;
                        }, 2000);
                        ListCategoryDeleted(find, pageSize, page);
                    }
                });
            }
        });

        //Dùng Ajax list mã sp đã bị xóa dưới DB lên
        function ListCategoryDeleted(search, pageSize, page) {
            $.ajax({
                url: '/Admin/Category_Admin/ListCategoryDeleted',
                type: 'get',
                data: {
                    find: search,
                    pageSize: parseInt(pageSize),
                    page: parseInt(page),
                },
                success: function (data) {
                    if (data.code == 100) {
                        $('#tblList').empty(); //làm trống khi thêm mới sản phẩm, tránh việc mới sẽ lặp lại nhiều sản phẩm, nghĩa là khi thêm chỉ hiển thị 1 sản phẩm
                        //dùng vòng vặp foreach để lặp trong bảng tblList
                        $.each(data.deleted, function (k, v) {
                            //Hiển thị ngày
                            var date = new Date(parseInt((v.CreateDate).substr(6)));
                            if (date.getDate() + 1 < 10) {
                                var formattedDate = "0" + (date.getDate()) + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
                            }
                            else {
                                var formattedDate = (date.getDate()) + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
                            }
                            //Nếu status = 1 thì hiện những loại Deleted
                            if (v.Status == 1) {
                                // dùng append nối chuỗi
                                $('#tblList').append(
                                    //list loại sản phẩm theo ID
                                    '<tr style="text-align:center" id="' + v.ID + '">' +
                                    "<td>" + v.CategoryCode + "</td>" +
                                    "<td>" + v.Name + "</td>" +
                                    "<td>" + formattedDate + "</td>" +
                                    "<td style='text-align:center'><span class='dot dot-lg bg-success mr-2'></span><span class='text-danger'>Đã xóa</span></td>" +
                                    // 3 nút xem, sửa ,xóa
                                    "<td>" +
                                    '<button style="margin-right: 5px" type="button" name="restore" class="btn btn-warning"><i class="fas fa-trash-restore"></i></button>' +
                                    '<button  type="button"  name="delete" class="btn btn-danger btnDelete"><i class="dw dw-delete-3"></i></button>' +
                                    "</td>" +
                                    '<tr>'
                                );
                            }
                        });
                    }
                    //Phần phân trang
                    if (data.totalRecord > data.pageSize) {
                        $('#pagination').empty(); //làm trống (khi bấm vô số trang thì ko load theo vòng lặp)
                        //nối chuỗi với biến thẻ li, mũi tên quay lại trang trước
                        var li =
                            '<li style = "cursor: pointer" class="page-item" id="first">' +
                            '<a class="page-link" aria-label="First" >' +
                            '<i class="fas fa-angle-left"></i>' +
                            '<i class="fas fa-angle-left"></i>' +
                            '</a>' +
                            '</li >' +
                            '<li style = "cursor: pointer" class="page-item" id="previous">' +
                            '<a class="page-link" aria-label="Previous">' +
                            '<i class="fas fa-angle-left"></i>' +
                            ' </a>' +
                            '</li>';
                        //cho vòng lặp lấy từng trang
                        for (var i = 0; i < data.numberPage; i++) {
                            li += '<li style = "cursor: pointer" class="page-item page" id="' + (i + 1) + '"><a class="page-link" >' + (i + 1) + '</a></li>';
                        }
                        //nối chuỗi với biến thẻ li, mũi tên next đến trang sau
                        li +=
                            '<li style = "cursor: pointer" class="page-item" id="next">' +
                            '<a class="page-link" aria-label="Next" >' +
                            '<i class="fas fa-angle-right"></i>' +
                            '</a>' +
                            '</li>' +
                            '<li style = "cursor: pointer" class="page-item" id="last">' +
                            '<a class="page-link" aria-label="Last">' +
                            '<i class="fas fa-angle-right"></i>' +
                            '<i class="fas fa-angle-right"></i>' +
                            '</a>' +
                            '</li>';
                        $('#pagination').append(li); //dùng thẻ li nối chuỗi

                        //Phần xem sản phẩm của 1 trang trong tổng sản phẩm (vd: 5sp trong 100sp)
                        $('#recordsDes').empty();
                        var recordsDes = 'Hiển thị ' + ((data.pageIndex * data.pageSize) - (data.pageSize - 1)) + ' - '
                            + (data.pageIndex * data.pageSize) + ' trong ' + data.totalRecord + ' loại';
                        $('#recordsDes').append(recordsDes);
                        $('li#' + data.pageIndex).addClass('active');
                        //Nếu trang là 1 thì tắt mũi tên đầu
                        if (data.pageIndex == 1) {
                            $('li#previous').addClass('disable');
                            $('li#first').addClass('disable');
                        }
                        //Nếu trang bằng tổng số trang, tức là có 1 trang thì tắt click mũi tên sau
                        if (data.pageIndex == data.numberPage) {
                            $('li#next').addClass('disable');
                            $('li#last').addClass('disable');
                        }
                        lastPage = data.numberPage;
                    } else {
                        $('#pagination').empty();
                        $('#recordsDes').empty();
                    }

                }
            });
        }
        //Thay số lượng theo lựa chọn
        $('#customSelect').change(function () {
            pageSize = parseInt($('#customSelect').val());
            page = 1;
            ListCategoryDeleted(find, pageSize, page);
        });
        //Chọn số lượng mã muốn hiển thị
        $('#pagination').on('click', "li.page", function () {
            find = $('#txtSearch').val(); //nhập từ khóa tìm kiếm
            page = parseInt($(this).text());
            pageSize = parseInt($('#customSelect').val());
            ListCategoryDeleted(find, pageSize, page);
        });
        //sự kiện click vào mũi tên đầu
        $('#pagination').on('click', "li#previous", function () {
            find = $('#txtSearch').val();
            if ($('li#previous').hasClass('disabled')) {
                page = page;
            } else {
                page = page - 1;
            }
            pageSize = parseInt($('#customSelect').val());
            ListCategoryDeleted(find, pageSize, page);
        });
        //sự kiện click vào mũi tên đầu
        $('#pagination').on('click', "li#first", function () {
            find = $('#txtSearch').val();
            if ($('li#first').hasClass('disabled')) {
                page = page;
            } else {
                page = 1;
            }
            pageSize = parseInt($('#customSelect').val());
            ListCategoryDeleted(find, pageSize, page);
        });
        //sự kiện click vào mũi tên sau
        $('#pagination').on('click', "li#next", function () {
            find = $('#txtSearch').val();
            if ($('li#next').hasClass('disabled')) {
                page = page;
            } else {
                page = page + 1;
            }
            pageSize = parseInt($('#customSelect').val());
            ListCategoryDeleted(find, pageSize, page);
        });
        //sự kiện click vào mũi tên sau
        $('#pagination').on('click', "li#last", function () {
            find = $('#txtSearch').val();
            if ($('li#last').hasClass('disabled')) {
                page = page;
            } else {
                page = lastPage;
            }
            pageSize = parseInt($('#customSelect').val());
            ListCategoryDeleted(find, pageSize, page);
        });
    </script>


}