
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p-3 bg-white" style="max-width:900px; margin:auto;margin-top:20px; margin-bottom:20px;">
    <h1 class="text-20 text-center">Giới thiệu</h1>
    <p style="text-align: center;"><img src="~/Theme/images/logo.png" /></p>
    <p><span style="font-size: 14pt;">&nbsp; &nbsp; &nbsp; <span style="color: #000000;"><strong><a style="color: #000000;" href="http://Alistyle.com.vn">Công Ty Tin Học Alistyle </a></strong>l</span>à một trong những doanh nghiệp tiên phong tại Đà Nẵng hoạt động&nbsp;&nbsp;</span><span style="font-size: 14pt;">trong lĩnh vực kinh doanh các sản phẩm CNTT. Thành lập từ năm 2003 cho đến nay.</span><span style="font-size: 14pt;">Công ty đã tạo được chỗ đứng vững chắc trên thị trường bán buôn, bán lẻ.&nbsp;</span><span style="font-size: 14pt;">Trở thành thương hiệu quen thuộc và là đối tác tin cậy của nhiều bạn hàng trong nước và Quốc tế</span></p>
    <p><span style="font-size: 14pt;">&nbsp; &nbsp; &nbsp; Với hơn 15 năm trưởng thành và phát triển, Công ty đã có một hệ thống khách hàng ổn định tại Đà Nẵng. </span><span style="font-size: 14pt;">Cùng phương châm kinh doanh "<span style="color: #ffff00;"><strong><span style="color: #ff0000;">Một chữ tín, vạn sự thành</span></strong></span>", <span style="color: #000000;"><strong>Alistyle</strong></span>&nbsp;đã mở rộng địa điểm hoạt động&nbsp;&nbsp;</span><span style="font-size: 14pt;">kinh doanh tại Đà Nẵng và các tỉnh thành trong cả nước, chinh phục nhiều đối tác,&nbsp;&nbsp;</span><span style="font-size: 14pt;">khách hàng bằng chất lượng sản phẩm, uy tín thương hiệu và dịch vụ tối ưu.</span></p>
    <p><span style="font-size: 14pt;">&nbsp; &nbsp; &nbsp; Chính sách tuyển dụng của Công ty là đa dạng hóa nguồn lực, đãi ngộ nhân tài có tâm, có đức.&nbsp;</span><span style="font-size: 14pt;">Công ty tiếp nhận từ các ứng viên đã có kinh nghiệm làm việc dày dặn tại các đơn vị cùng ngành nghề,&nbsp;&nbsp;</span><span style="font-size: 14pt;">có trình độ chuyên môn cao; cho đến các bạn sinh viên trẻ mới ra trường có nhiệt huyết,&nbsp;&nbsp;</span><span style="font-size: 14pt;">có thành tích học tập tốt, có tinh thần cầu tiến, ham học hỏi, dám chấp nhận thử thách và chịu được áp lực công việc cao.</span></p>
    <p><span style="font-size: 14pt;">&nbsp; &nbsp; &nbsp; Chúng tôi không chỉ mang đến cho ứng viên một môi trường làm việc thân thiện, chuyên nghiệp,</span><span style="font-size: 14pt;">chế độ đãi ngộ rõ ràng, khách quan. Quan trọng hơn nữa, chúng tôi còn mang đến cho các bạn cơ hội&nbsp;</span><span style="font-size: 14pt;">nghề nghiệp vững chắc, một sự nghiệp thành công và phát triển cùng với sự phát triển của <span style="color: #000000;"><strong>Alistyle</strong></span><span style="color: #000000;">.</span></span></p>
    <p style="text-align: center;"><span style="font-size: 14pt;">&nbsp; &nbsp; &nbsp; <strong>TẠI SAO LẠI CHỌN Alistyle</strong></span></p>
    <p style="text-align: left;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong><span style="font-size: 14pt;">Sản phẩm:</span></strong></p>
    <p style="text-align: left;"><span style="font-size: 14pt;">Alistyle luôn đa dạng cho các mặt hàng và phong phú về các mã trong lĩnh vực công nghệ thông tin. Đảm bảo về xuất xứ của tất cả sản phẩm.</span></p>
    <p style="text-align: left;"><strong><span style="font-size: 14pt;">&nbsp; &nbsp; &nbsp;Giá thành:</span></strong></p>
    <p style="text-align: left;"><span style="font-size: 14pt;">Alistyle mang đến cho khách hàng giá cả tốt nhất trên thị trường.</span></p>
    <p style="text-align: left;"><strong><span style="font-size: 14pt;">&nbsp; &nbsp; &nbsp;Kinh nghiệm:</span></strong></p>
    <p style="text-align: left;"><span style="font-size: 14pt;">Trong suốt 15 năm xây dựng và phát triển Alistyle luôn tự hào là nơi quy tụ một đội ngũ nhân viên không chỉ giàu kinh nghiệm, có trình độ chuyên môn cao mà còn rất tâm huyết với công việc.</span></p>
    <p style="text-align: left;"><strong><span style="font-size: 14pt;">&nbsp; &nbsp; Trụ sở công ty:</span></strong></p>
    <p style="text-align: left;"><span style="font-size: 14pt;">Tòa nhà 7 tầng của Alistyle tọa lạc tại 170 Lê Duẩn, đây là con đường tập trung các doanh nghiệp lớn trong ngành công nghệ thông tin.</span></p>
    <p style="text-align: left;"><strong><span style="font-size: 14pt;">&nbsp; &nbsp; Phong cách phục vụ:</span></strong></p>
    <p style="text-align: left;"><span style="font-size: 14pt;">Nhân viên Alistyle luôn có thái độ, cử xử văn minh đúng mực với khách hàng. Chủ động giao tiếp với khách hàng để tư vấn phù hợp với nhu cầu của khách hàng.</span></p>
    <p style="text-align: left;"><strong><span style="font-size: 14pt;">&nbsp; &nbsp; Chính sách bảo hành:&nbsp;</span></strong></p>
    <p style="text-align: left;"><span style="font-size: 14pt;">Alistyle luôn mong muốn mang đến cho khách hàng sự hài lòng trước và sau khi mua hàng bằng những chính sách chăm sóc khách hàng chu đáo tận tâm và kịp thời.</span></p>
    <p style="text-align: left;"><strong><span style="font-size: 14pt;">&nbsp; &nbsp; Chính sách khuyến mãi:</span></strong></p>
    <p style="text-align: left;"><span style="font-size: 14pt;">Chúng tôi luôn có những chương trình khuyến mãi đặc sắc, phù hợp với mọi thời điểm trong năm.</span></p>
</div>

